@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600;700&family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    padding: 65px 165px;
}

.header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 28px;
}

.nav__link{
    text-decoration: none;
    font-size: 13px;
}

.button {
    text-decoration: none;
    font-family: inherit;
    font-size: 13.18px;
    font-weight: 500;
    background-color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 134px;
    height: 44px;
}

.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero__title {
    font-size: 58px;
    font-weight: 700;
    width: 439px;
    color: #232C50;
    line-height: 66.47px;
}

.text__container {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 28px 0px 28px 0px;
}

.section__container {
    display: flex;
    flex-direction: row;
}
.section__tittle {
    font-size: 36px;
    color: #232C50;
}

.article__container {
    display:flex;
    flex-direction: row;
}

.article__button {
    text-decoration: none;
    background-color: #F3603B;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    text-align: center;
    width: 69px;
    height: 43px;
}

.article__tittle {
    color: #232C50;
    font-size: inherit;
    font-weight: bold;
}

.article__text {
    color: #B3B2B7;
    font-size: inherit;
    line-height: 25.52px;
    font-weight: 500;
}

.testimonial__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.testimonial__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FAFAFA;
    position: relative;
    margin-top: 80px;
}

.testimonial__avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 200px;
}

.body__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}


.cta__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#F3603B;
    align-items: center;
}

.cta__tittle {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    width: 438px;
}

.cta__button {
    text-decoration: none;
    font-family: inherit;
    font-size: 13.18px;
    font-weight: 500;
    background-color:#fff ;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #F3603B ;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 134px;
    height: 44px;

}

footer {
    display: flex;
}